<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="16.1.1.0" targetFramework="net45" />
  <package id="DynamicDataDisplayWpf" version="0.4.0" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="3.0" targetFramework="net45" />
  <package id="LiveCharts" version="0.9.5" targetFramework="net45" />
  <package id="LiveCharts.Geared" version="1.2.7" targetFramework="net45" />
  <package id="LiveCharts.Wpf" version="0.9.5" targetFramework="net45" />
  <package id="MathNet.Numerics" version="3.19.0" targetFramework="net45" />
  <package id="Microsoft.SharePoint.Client" version="14.0.4762.1000" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="3.5.8" targetFramework="net45" />
  <package id="SilverConfig" version="0.1.0" targetFramework="net45" />
  <package id="TAlex.WPF.Controls" version="2.0.1.0" targetFramework="net45" />
  <package id="Toolkit.Charting" version="1.0.5755.26422" targetFramework="net45" />
  <package id="Toolkit.CodeBase" version="1.0.5755.26406" targetFramework="net45" />
  <package id="Toolkit.CommonResources" version="1.0.5752.28158" targetFramework="net45" />
  <package id="Toolkit.Data" version="1.0.5755.26407" targetFramework="net45" />
  <package id="Toolkit.Drawing" version="1.0.5755.26408" targetFramework="net45" />
  <package id="Toolkit.Runtime" version="1.0.5755.26410" targetFramework="net45" />
  <package id="Toolkit.Scripting" version="1.0.5755.26411" targetFramework="net45" />
</packages>